<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9d0690b173.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <link rel="stylesheet" href="./src/style.css"> 
    <title>m</title>
</head>
<body>
  <div id="app" >

    
    <div v-if="pageLoading" class="page-loader">
      <div class="spinner-border text-pink" role="status"></div>
      <p class="mt-2 text-white">載入中…</p>
    </div>



    
    <div class=" all m-0 p-0">

      <nav class="navbar sticky-top bg-body-tertiary" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <div class="container-fluid">
          <a class="navbar-brand tw-7" href="#" style="color: #e0b1c1;"><i class="fa-solid fa-web-awesome me-2"></i>AIPRI</a>
        </div>
      </nav>

      <div class="row p-0 m-0 d-flex align-items-center justify-content-center pt-5 pb-4 mb-3" style="background-color: #f0dae4; border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;">
        <div class="col-11 d-flex align-items-center justify-content-center">
          <img :src="profile" alt="" style="border-radius: 100%; width: 40%;">

        </div>
        <div class="col-11 d-flex align-items-center justify-content-center flex-column my-2">
          <h3 class="m-0 p-0">{{charaName}}</h3>
          <p class="m-0 p-0">Lv.{{level}} {{call}}</p>
        </div>
        <div class="col-11 d-flex align-items-center justify-content-center flex-column my-2 py-2" style="background-color: #ffffff; border-radius: 15px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <div class="row w-100 p-0 m-0 d-flex align-items-center justify-content-between">
            <div class="col-4 d-flex align-items-center justify-content-center flex-column">
                <p class="m-0 p-0 coun">{{ allRecTotal }}</p>
                <p class="m-0 p-0">遊玩次數</p>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center flex-column">
                <p  class="m-0 p-0 coun">{{ countThisMonth }}</p>
                <p class="m-0 p-0">當月遊玩</p>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center flex-column">
                <p class="m-0 p-0 coun">{{ totalCardNum }}</p>
                <p class="m-0 p-0">持有卡片</p>
              </div>
          </div>
        </div>
      </div>

      <div class="row p-0 m-0 d-flex align-items-center justify-content-center mb-3">
        <div class="col-11 my-3">
          <h3 class="m-0 p-0">參加季度</h3>
          <div class="tags" v-for="i in season"># {{i}}</div>
        </div>
      </div>


      <div class="row p-0 m-0 d-flex align-items-center justify-content-center">
        <div class="col-11">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item w-50 d-flex align-items-center justify-content-center" role="presentation">
              <button class="nav-link w-100 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa-solid fa-camera me-2"></i>最近上傳</button>
            </li>
            <li class="nav-item w-50 d-flex align-items-center justify-content-center" role="presentation">
              <button class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa-solid fa-bars me-2"></i>最近紀錄</button>
            </li>
          </ul>
          <div class="tab-content mb-5" id="pills-tabContent">
            <div class="tab-pane fade show active p-3" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="row px-2">
                <div class="col-6 p-1" v-for="(file,i) in allph9.slice(0,4)" >
                  <img :src="file.url" alt="" class="w-100 square" :data-bs-target="'#ml' + i" data-bs-toggle="modal">
                </div>  
              </div>
            </div>
            <div class="tab-pane fade p-3" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

              <div class="row px-2">
                <div class="card mb-2"  v-for="(i,index) in recordIndex.slice(0, 4)">
                  <div class="card-body">
                    <p class="p-0 m-0">{{ i.title }}</p>
                    <p class="p-0 m-0 pb-1" style="color: #f6d604;"><i class="fa-solid fa-star me-1" v-for="i in i.star"></i></p>
  
                    <p class="p-0 m-0 text-secondary" style="font-size: 12px;"><i class="fa-solid fa-calendar me-2"></i>{{ i.time }}　｜　<i class="fa-solid fa-location-dot me-2"></i>{{ i.place }}</p>
                  </div>
                </div> 
              </div>
              

            </div>
          </div>
        </div>
      </div>
      
  
  
      <nav class="navbar sticky-bottom "  style="background-color: #e0b1c1;">
        <div class="container-fluid">
          
          <ul class="m-0 p-0 mx-3">
            <li><a class="navbar-brand text-white m-0 py-1" href="./index.html"><i class="fa-solid fa-person"></i><p class="m-0 p-0 tw-7">首頁</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="./album.html" ><i class="fa-solid fa-camera"></i><p class="m-0 p-0 tw-7">相簿</p></a></li>
            <li class="qr"><a class="navbar-brand m-0 py-1" data-bs-target="#myqrcode" data-bs-toggle="modal" style="color: #f460a6;"><i class="fa-solid fa-qrcode "></i><p class="m-0 p-0 tw-7">專屬QR</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="./collection.html"><i class="fa-solid fa-award"></i><p class="m-0 p-0 tw-7">收集</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="./record.html"><i class="fa-solid fa-bars"></i><p class="m-0 p-0 tw-7">紀錄</p></a></li>
          </ul>
        </div>
      </nav>

    </div>

    


    <div class="modal fade" id="myqrcode" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-pink">
          <div class="modal-header bg-pink" style="background-color: #f460a6;">
            
            <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center" style="flex-direction: column;">
            <img :src="myqr" alt="" class="w-75">


            
            
          </div>
        </div>
      </div>
    </div>

    <div v-for="(file,i) in lovefiles" class="modal fade" :id="'m' + i" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #f460a6;">
            
            <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <img :src="file.url" alt="" class="w-100" :data-bs-target="'#m' + i" data-bs-toggle="modal">

            <div class="w-100 d-flex align-items-center justify-content-center mt-3">
              <button class="w-50 btn btn-customer" type="submit" @click="go(file.url)"><i class="fa-solid fa-download me-2"></i>下載圖片</button>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>


    <div v-for="(file,i) in allph9" class="modal fade" :id="'ml' + i" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #f460a6;">
            
            <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <img :src="file.url" alt="" class="w-100" :data-bs-target="'#ml' + i" data-bs-toggle="modal">

            <p class="mt-3 p-0 text-center text-secondary">上傳日期：{{file.addedOn}}</p>
            <div class="w-100 d-flex align-items-center justify-content-center">
              <button class="w-50 btn btn-customer" type="submit" @click="go(file.url)"><i class="fa-solid fa-download me-2"></i>下載圖片</button>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
    

    
</body>

<script src="./src/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>