<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9d0690b173.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <link rel="stylesheet" href="./src/style.css"> 
    <title>m</title>
</head>
<body>
  <div id="app" >

    




    
    <div class=" all m-0 p-0">

      <nav class="navbar sticky-top bg-body-tertiary" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <div class="container-fluid">
          <a class="navbar-brand tw-7" href="./index.html" style="color: #f460a6;"><i class="fa-solid fa-web-awesome me-2"></i>AIPRI</a>
        </div>
      </nav>

      

      <div class="container-fluid profile my-5">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-10 bg-white p-2 profiles">
            
            

            <div class="d-flex align-items-center justify-content-center mt-3">
              <div class="container-fluid">
                <p class="m-0 color-pink mb-3 text-center tw-7" style="font-size: 4.5vw;"><i class="fa-solid fa-bars me-2"></i>紀錄</p>
                <div class="row mb-3">
                  
                  

                  <div class="rec_card card col-12 my-1" v-for="(i,index) in record" :data-bs-target="'#m' + index" data-bs-toggle="modal">
                    <div class="card-body p-2">
                      <p class="p-0 m-0">{{ i.title }}</p>
                      <p class="p-0 m-0 pb-1" style="color: #f6d604;"><i class="fa-solid fa-star me-1" v-for="i in i.star"></i></p>

                      <p class="p-0 m-0 text-secondary" style="font-size: 12px;"><i class="fa-solid fa-calendar me-2"></i>{{ i.time }}　｜　<i class="fa-solid fa-location-dot me-2"></i>{{ i.place }}</p>
                     
                    </div>
                  </div>

                  
                  
                </div>

                

              </div>

              
            </div>
            

          


            
          </div>
        </div>
      </div>
  
  
      <nav class="navbar sticky-bottom "  style="background-color: #f460a6;">
        <div class="container-fluid">
          
          <ul class="m-0 p-0 mx-3">
            <li><a class="navbar-brand text-white m-0 py-1" href="./album.html" ><i class="fa-solid fa-camera"></i><p class="m-0 p-0 tw-7">相簿</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="#"><i class="fa-solid fa-users"></i><p class="m-0 p-0 tw-7">朋友</p></a></li>
            <li class="qr"><a class="navbar-brand m-0 py-1" data-bs-target="#myqrcode" data-bs-toggle="modal" style="color: #f460a6;"><i class="fa-solid fa-qrcode "></i><p class="m-0 p-0 tw-7">專屬QR</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="./collection.html"><i class="fa-solid fa-award"></i><p class="m-0 p-0 tw-7">收集</p></a></li>
            <li><a class="navbar-brand text-white m-0 py-1" href="./record.html"><i class="fa-solid fa-bars"></i><p class="m-0 p-0 tw-7">紀錄</p></a></li>
          </ul>
        </div>
      </nav>

    </div>


    <div class="modal fade" id="myqrcode" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-pink">
          <div class="modal-header bg-pink" style="background-color: #f460a6;">
            
            <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center" style="flex-direction: column;">
            <img :src="myqr" alt="" class="w-75">


            
            
          </div>
        </div>
      </div>
    </div>

    

    <div v-for="(i,index) in record" class="modal fade" :id="'m' + index" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #f460a6;">
            
            <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            {{i}}

          
            
          </div>
        </div>
      </div>
    </div>


   
    
  </div>
    

    
</body>

<script src="./src/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>