@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    /*border: 1px solid #000;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "cwTeXYen", "Montserrat" ,sans-serif;
}
:root{
    --colorpink: #e0b1c1;
    --colorpinker: #e099b1;
    --colorpurple: #e4e8f1;
}
html,body{
    
    margin:0;
}
.bg-pink{
    color: var(--colorpink);
}
.bgc-pink{
    background-color: var(--colorpink);
    transition: 0.3s;
}
.bgc-pink:hover , .bgc-pink:focus{
    background-color: var(--colorpinker) !important;
    border: 1px solid var(--colorpinker) !important;
    box-shadow: none;
}
.color-pink{
    color: var(--colorpink);
}
.tw-7{
    font-weight: 700;
}
.all {
    width: 100%;
    min-height: 100vh;
    background: #f3f3f3;
    /*
    background: linear-gradient(to right top,
  #ff9bb5, 
  #e5a3d7, 
  #c8b7ec,
  #a7c9ff, 
  #90e0f6,
  #a8eec1, 
  #c8f5a6, 
  #f3f7b3   
) !important;
*/
}
.sticky-top{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.profiles{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chanam{
    font-size: 8vw;
    color: #c896ed;
    font-weight: 700;
}
.square {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
    overflow: hidden;
    object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 60%;
}
.btn-customer{
    background-color: var(--colorpink) !important;
    transition: 0.5s;
    color: white;
}
.btn-customer:hover{
    color: white;
    background-color: var(--colorpinker) !important;
}
.btn-customer:focus{
    color: white !important;
    background-color: var(--colorpinker) !important;
    border-color:  var(--colorpinker);
}
.ti{
    background-color: var(--colorpink);
    color: white;
}
.sticky-bottom ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.sticky-bottom li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}
.sticky-bottom li a{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sticky-bottom li a p{
    font-size: 10px;
}
.myqr{
    
    background-color: #fff;
    border-radius: 100%;
}
.modal-header{
    background-color: var(--colorpink) !important;
}
.btn-close:focus{
    box-shadow: none;
    color: #fff !important;
}
.qr {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1; 
    width: 70px; 
    margin-top: -20px;
    border: 5px solid var(--colorpink);
    border-radius: 50%;
    background-color: #fff;
}
.qr a {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}
.tab-pane{
    background-color: var(--colorpurple) !important;
}
.coll_name{
    font-size: 12px;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rank_title{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--colorpink); 
    outline: 2px solid #fff;
    outline-offset: -5px; 
    border-radius: 30px;
    background: linear-gradient(90deg,
      #ff62d4 0%,
      #e6b6ff 40%,
      #79d7ff 100%);
    color: #fffabc;
}
.rec_card{
    border-left: var(--colorpink) 5px solid;
}
.rec_insert{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 75px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: #9eb4e9;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}
.rec_insert_btn{
    background-color: #9eb4e9 !important;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rec_insert:hover{
    background-color: #8faaea;
}
.tags{
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;   /* 去掉外框陰影 */
  }
/* 隱藏 bootstrap 的箭頭 */
.accordion-button::after {
  display: none !important;
}

/* 預設為 "+" （因為預設有 collapsed） */
.accordion-button.collapsed::before {
  content: "\f067"; /* FontAwesome plus */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  right: 16px;
  color: #f460a6;
}

/* 展開時為 "-" （因為展開時沒有 collapsed） */
.accordion-button:not(.collapsed)::before {
  content: "\f068"; /* FontAwesome minus */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  right: 16px;
  color: #f460a6;
}
/* 展開後 */
.accordion-button:not(.collapsed) {
    background-color: #ffe4f4 !important; /* 粉色，可改 */
    color: #f460a6;
  }
.page-loader {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.text-pink {
  color: #f460a6 !important;
}
.form-control:focus, .form-select:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #f460a6 !important; /* 你可以換顏色，或直接拿掉 */
}
.coun{
    color: var(--colorpink);
    font-weight: 700;
    font-size: larger;
}
.nav-pills .nav-item{
    background-color: #f3f3f3 !important;
    color: var(--colorpurple) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-pills .nav-item:hover, .nav-pills .nav-item:focus{
    color: #9eb4e9 !important;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-pills .nav-item .nav-link{
    color: #b3a9a9 !important;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 2px var(--colorpurple) !important;
}
.nav-pills .nav-item .active{
    background-color: var(--colorpurple) !important;
    color: #9eb4e9 !important;
    border-bottom: solid 2px var(--colorpurple) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-pills .nav-item .nav-link.active{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
/*
.dec{
    width: 30px;
    height: 30px;
    background-color: #61cfff;
    position: absolute;
    top: -3%;
    right: 0%;
    transform: rotate(45deg);
}
*/