@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    /*border: 1px solid #000;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "cwTeXYen", "Montserrat" ,sans-serif;
}
:root{
    --colorpink: #f460a6;
    --colorpinker: #da5493;
}
html,body{
    
    margin:0;
}
.bg-pink{
    color: var(--colorpink);
}
.bgc-pink{
    background-color: var(--colorpink);
    transition: 0.3s;
}
.bgc-pink:hover , .bgc-pink:focus{
    background-color: var(--colorpinker) !important;
    border: 1px solid var(--colorpinker) !important;
    box-shadow: none;
}
.color-pink{
    color: var(--colorpink);
}
.tw-7{
    font-weight: 700;
}
.all {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top,
  #ff9bb5,   /* 粉紅 */
  #e5a3d7,   /* 粉紫 */
  #c8b7ec,   /* 淺紫 */
  #a7c9ff,   /* 淺藍 */
  #90e0f6,   /* 水藍 */
  #a8eec1,   /* 薄綠 */
  #c8f5a6,   /* 淺綠 */
  #f3f7b3    /* 黃綠 */
) !important;
}
.sticky-top{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.profiles{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chanam{
    font-size: 8vw;
    color: #c896ed;
    font-weight: 700;
}
.square {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.btn-customer{
    background-color: var(--colorpink) !important;
    transition: 0.5s;
    color: white;
}
.btn-customer:hover{
    color: white;
    background-color: var(--colorpinker) !important;
}
.btn-customer:focus{
    color: white !important;
    background-color: var(--colorpinker) !important;
    border-color:  var(--colorpinker);
}
.ti{
    background-color: var(--colorpink);
    color: white;
}
.sticky-bottom ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.sticky-bottom li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}
.sticky-bottom li a{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sticky-bottom li a p{
    font-size: 10px;
}
.myqr{
    
    background-color: #fff;
    border-radius: 100%;
}
.modal-header{
    background-color: var(--colorpink) !important;
}
.btn-close:focus{
    box-shadow: none;
    color: #fff !important;
}
.qr {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1; 
    width: 70px; 
    margin-top: -20px;
    border: 5px solid var(--colorpink);
    border-radius: 50%;
    background-color: #fff;
}
.qr a {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}
.coll_name{
    font-size: 12px;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rank_title{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--colorpink); 
    outline: 2px solid #fff;
    outline-offset: -5px; 
    border-radius: 30px;
    background: linear-gradient(90deg,
      #ff62d4 0%,
      #e6b6ff 40%,
      #79d7ff 100%);
    color: #fffabc;
}
.rec_card{
    border-left: var(--colorpink) 5px solid;
}
/*
.dec{
    width: 30px;
    height: 30px;
    background-color: #61cfff;
    position: absolute;
    top: -3%;
    right: 0%;
    transform: rotate(45deg);
}
*/