*{
    /*border: 1px solid #000;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorpink: #f460a6;
    --colorpinker: #da5493;
}
html,body{
    
    margin:0;
}
.bg-pink{
    color: var(--colorpink);
}
.color-pink{
    color: var(--colorpink);
}
.tw-7{
    font-weight: 700;
}
.all {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top,
  #ff9bb5,   /* 粉紅 */
  #e5a3d7,   /* 粉紫 */
  #c8b7ec,   /* 淺紫 */
  #a7c9ff,   /* 淺藍 */
  #90e0f6,   /* 水藍 */
  #a8eec1,   /* 薄綠 */
  #c8f5a6,   /* 淺綠 */
  #f3f7b3    /* 黃綠 */
) !important;
}
.sticky-top{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.profiles{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chanam{
    font-size: 8vw;
    color: #c896ed;
    font-weight: 700;
}
.square {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.btn-customer{
    background-color: var(--colorpink) !important;
    transition: 0.5s;
    color: white;
}
.btn-customer:hover{
    color: white;
    background-color: var(--colorpinker) !important;
}
.btn-customer:focus{
    color: white !important;
    background-color: var(--colorpinker) !important;
    border-color:  var(--colorpinker);
}
.ti{
    background-color: var(--colorpink);
    color: white;
}
.sticky-bottom ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.sticky-bottom li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}
.sticky-bottom li a{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sticky-bottom li a p{
    font-size: 15px;
}
.myqr{
    
    background-color: #fff;
    border-radius: 100%;
}
.modal-header{
    background-color: var(--colorpink) !important;
}
.btn-close:focus{
    box-shadow: none;
    color: #fff !important;
}
.qr{
    margin-top: -20px;
    border: 8px solid var(--colorpink);
    padding: 10px;
    border-radius: 100%;
    background-color: #fff;
}